.foto-remera{
    width: 90%;
    border-radius: 5px;
    &:hover{
        transition: 1s;
        transform: scale(0.9);
    }
}

.modeloremera{
    @include modelo-remeras(16px, 10px, 5px);
}
.precio{
    font-size: 20px;
    font-family: $font;
    font-weight: 700;
    color: $color1;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}
.medio-pagos{
    font-size: 12px;
    font-family: $font ;
    font-weight: 400;
    color: black;
    text-transform: uppercase;
}
.productos-mas{
    font-size: 18px;
    font-family: $font;
    font-weight: 400;
    color: $color1;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
}